*{
    padding: 0;
    margin: 0;
   
}
@font-face {
    font-family: fontOnePiece;
    src: url("./one\ piece\ font.ttf");
}
body {
    background: url("./img/background2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: #db2608;
    display: grid;
    place-items: center;
    font-family: "fontOnePiece";
    font-size:60px;
}
section {
    padding: auto;
    margin: auto;
    align-items: center;
    display: flex;
    width: 700px;
    height: 530px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover {
    cursor: pointer;
    width: 40px;
    opacity: 1;
    filter: contrast(120%);
}

main {
    color: #db2608;
    display: grid;
    place-items: center;
    font-family: "fontOnePiece";
    font-size:50px;
    
}

canvas {
    padding-left: auto;
    padding-right:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 600px;
}



.active {
    position: absolute;
    top: 500px;
    
    background-color: transparent;
    background-size:contain;
    padding: auto;
    margin: auto;
    align-items:baseline;
    display: flex;
    width: 700px;
    height: 530px;
    border:none;
    justify-content: baseline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#000;
    font-weight: 400;
    flex-direction: column;
    font-size: xx-large;
    

    
}
.win-img {
    width: 100%;

}
.win-text {
    background-color: transparent;
    
    border-radius: 10px;
    padding: 20px ;
}

.text {
    background-color: #58b1e9;
    background-color: #58b1e9;
    background-image: linear-gradient(180deg, #58b1e9 0%, #3068aa 100%);
    border-radius: 25px;
    margin: auto;
    margin-top: 40px;
    padding: 20px 25px;
    font-size: xx-large;
    color: beige;
}
.close-button {
    background-color: #58b1e9;
    background-color: #58b1e9;
    background-image: linear-gradient(180deg, #58b1e9 80%);;
    color: beige;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    font-size: xx-large;
    margin:  0 ;
    
}

@media  (max-width:780px) {
    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
        font-size:20px;
    }
    h2 {
        font-size: 20px;
    }
    section {
        
        width: 350px;
        height: 200px;
        
        
    }
   

}
@media  screen and (max-width:720px) {
   body{
    background-image: url(./img/sunny.jfif);
    
   } 
    
}